body{
    background-color: #f0ead2ff;
}
header{
    background-color: #adc178ff ;
}
footer{
    background-color: #adc178ff ;
}
h1{
     font-family: "Akaya Telivigala", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*  --tea-green: #dde5b6ff;
--muted-olive: #adc178ff;
--faded-copper: #a98467ff;
--ash-brown: #6c584cff; 
.akaya-telivigala-regular {
    font-family: "Akaya Telivigala", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
  }
     */